main {
    margin-top: 15vh;
}

thead, .dropdown-menu {
    white-space: nowrap;
}

.order-action {
    width: 10rem;
    white-space: nowrap;
}

.required-star{
    color: firebrick;
    margin-left: 0.5rem;
}