thead, .dropdown-menu {
    white-space: nowrap;
}

.order-action {
    width: 10rem;
    white-space: nowrap;
}

.required-star{
    color: firebrick;
    margin-left: 0.5rem;
}

html{
    overflow: hidden;
}

.table-container{
    max-height: 60vh;
    overflow-y: auto;
}

.table-container thead{
    position: sticky;
    top: 0;
    z-index: 100;
}

