.locale-check {
    background-position: right 0.2rem center;
    background-size: 7px 7px;
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
    background-color: darkgrey;
    border: none;
}

.auth-link {
    font-weight: bold;
    font-size: 0.7rem;
}

.nav-link {
    color: white;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0rem;
}